:root {
  scroll-behavior: smooth; // 平滑滚动
}

svg {
  width: 1em;
  height: 1em;
  &:hover {
    cursor: pointer;
    color: var(--vp-c-brand);
    transition: all 0.3s;
  }
}

html {
  overflow-x: hidden;
}

iframe:not([height]) {
  width: 100%;
  height: calc(100vh - var(--vp-nav-height));
  border: none;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 0.6em;
  height: 0.4em;
  border-radius: 0.4em;
}

::-webkit-scrollbar-thumb {
  background-color: #e9e9eb;
  border: 0.15em solid transparent;
  border-top-width: 0.1em;
  border-bottom-width: 0.1em;
  background-clip: content-box;
  border-radius: 2em;
  &:hover {
    background-color: var(--el-color-info-light-5);
  }
}
