// 毛玻璃
.backdrop-filter,
.VPLocalNav.reached-top {
  background: var(--el-mask-color);
  backdrop-filter: blur(4px);
}

// 文字溢出隐藏
.ellipsis {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// doc 页面高度最低满屏高度
.doc-h-100{
  .VPContent{
    height: inherit;
    .VPDoc {
      height: inherit;
      .container{
        height: inherit;
        .content{
          height: inherit;
        }
        .content-container{
          height: inherit;
          main{
            height: inherit;
            .vp-doc{
              height: inherit;
              >div{
                height: inherit;
              }
            }
          }
        }
      }
    }
  }

}