// 重置 vitepress 覆盖 element-plus 样式
@use "element-plus/dist/index.css";

// element-plus 夜间模式
@use "element-plus/theme-chalk/dark/css-vars.css";

// element-plus 样式修改
@use "./element-plus-reset";

// 基础样式
@use "./base.scss";

// 变量
@use "./var.scss";

// 图片缩放
@use "./medui-zoom.scss";

// 公共样式
@use "./common.scss";

// 加载进度条
@use "nprogress/nprogress.css";
