:root {
  --el-color-primary: var(--vp-c-green) !important;
  --el-color-primary-light-3: var(--vp-c-green-light) !important;
  --el-color-primary-light-5: var(--vp-c-green-lighter) !important;
  --el-font-family: var(--vp-font-family-base) !important;

  --vp-z-index-footer: 0;
  --vp-layout-max-width: 1640px;
}
