.widescreen {
  .VPContent {
    .container {
      max-width: 1576px !important;
      .content {
        max-width: unset;
        padding: 0;
      }
    }
  }
}

.page-hero {
  h1,
  .page-desc {
    text-align: center;
  }
}
